[mysqld]
binlog_format=ROW
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
innodb_flush_log_at_trx_commit=2
innodb_doublewrite=1
wsrep_on=ON
wsrep_provider=/usr/lib/libgalera_smm.so
wsrep_sst_method=rsync

wsrep_cluster_address = "gcomm://x.x.x.x,y.y.y.y,z.z.z.z"
wsrep_cluster_name    = "mariadb-cluster"
wsrep_node_name       = "db1"
wsrep_node_address    = "x.x.x.x"
